@using Application.DTOs
@using Application.Services
@using Domain.Entities
@inject PropertyService _propertyService
<div class="property-card">
    <div class="property-card-photo">
        <img src=@Property.PrimaryPhotoUrl alt="" />
    </div>
    <div class="property-card-body">
        <h2><strong>@Property.Name</strong></h2>
        <h2>@Property.PropertyType</h2>
        <h3>@Property.Price</h3>
    </div>
    <div class="property-card-buttons">
        <NavLink href="@($"/properties/{Property.PropertyId}")">Show Details</NavLink>

    </div>
</div>

@code {
    [Parameter]
    public PropertyListDTO Property { get; set; } 
}
