@using Domain.Entities

<div class="property-card">
    <div class="property-card-photo">
        <img src=@GetPrimaryPhoto() alt="" />
    </div>
    <div class="property-card-body">
        <h2><strong>@Property.Name</strong></h2>
        <h3>@Property.Price</h3>
    </div>
    <div class="property-card-buttons">
        <NavLink href="@($"/properties/{Property.PropertyId}")">Details</NavLink>

    </div>
</div>

@code {
    [Parameter]
    public Property Property { get; set; } 
    public String GetPrimaryPhoto()
    {
        return Property?.Photos?.FirstOrDefault(p => p.IsPrim).ImageUrl ?? "images/no-image.jpg"; //to get url of primary photo, else get no-image.jpg
    }

}
