@page "/admin"
@inject PropertyService _propertyService
@using Domain.Entities
@using Infrastructure.Persistence
@using Application.Services
@using Microsoft.AspNetCore.Authorization
@using System.Reflection

@attribute [Authorize(Roles = "Admin")]

<PageTitle>Properties</PageTitle>

<AuthorizeView>
    <table>
        <th><strong>Properties</strong></th>
        <tr>
            @foreach (PropertyInfo prop in typeof(Property).GetProperties())
            {
                <td> @prop </td>
            }
        </tr>
       
        }

        
    </table>
</AuthorizeView>


@code {
    private List<Property> properties;
    protected override async void OnInitialized()
    {
        properties = await _propertyService.GetAllPropertiesAsync();
        base.OnInitialized();
    }

}
