@inject PropertyService
@using Domain.Entities
@using RealEstateBlazor.Data
@using Application.Services
<h3>Properties</h3>

@code {
    protected override void OnInitialized()
    {
       
        base.OnInitialized();
       
    }

}
